<h3 class="h3">コース</h3>
<div class="row">
  <div class="col-md-8 col-md-offset-0">
    <form ng-submit="add()" style="margin-bottom: 12px">
      <div class="input-group">
        <input class="form-control" type="text" ng-model="course.name" />
        <div class="input-group-btn"><button class="btn btn-default" type="submit">作成</button></div>
      </div>
    </form>

    <div class="panel panel-info">
      <ul class="list-group">
        <li class="list-group-item course-item" ng-mouseenter="hover(course)" ng-repeat="course in courses">
          <span editable-text="course.name" e-form="textBtnForm" onaftersave="update(course, $data)">{{course.name || 'empty'}}</span>
          <div ng-show="course.showDelete" style="float: right; ">
            <button class="btn btn-danger btn-sm" ng-click="remove($event, course)"><i class="fa fa-trash-o">削除</i></button>
          </div>
          <div ng-show="course.showEdit" style="float: right; margin-right: 5px;">
            <button class="btn btn-success btn-sm" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
              <i class="fa fa-trash-o">編集</i>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<h3>通知メール設定</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-0">
    <dl>
      <dt>Ust TLS</dt>
      <dd><input type="checkbox" ng-model="notice.smtp.enable_starttls_auto" class="form-control"></dd>
      <dt>SMTP Address</dt>
      <dd><input type="text" ng-model="notice.smtp.address" class="form-control"></dd>
      <dt>SMTP Port</dt>
      <dd><input type="number" ng-model="notice.smtp.port" class="form-control"></dd>
      <dt>Domain</dt>
      <dd><input type="text" ng-model="notice.smtp.domain" class="form-control"></dd>
      <dt>Authentication</dt>
      <dd><input type="text" ng-model="notice.smtp.authentication" class="form-control" placeholder="plain"></dd>
      <dt>User name</dt>
      <dd><input type="text" ng-model="notice.smtp.user_name" class="form-control"></dd>
      <dt>Password (パスワードを修正するときだけ入力)</dt>
      <dd><input type="password" ng-model="notice.smtp.password" class="form-control"></dd>
      <dt>送信元アドレス</dt>
      <dd><input type="text" ng-model="notice.from" class="form-control" ></dd>
      <dt>メールタイトル</dt>
      <dd><input type="text" ng-model="notice.subject" class="form-control"></dd>
      <dt>メール本文</dt>
      <dd><textarea ng-model="notice.body" class="form-control" ></textarea></dd>

    </dl>

    <div class="input-group-btn">
      <input type="button" class="btn btn-default" type="submit" value="作成" ng-click="save_smtp_config()">
    </div>
    <div class="alert alert-success" ng-show="showSuccessAlert.save_smtp_config">
      <button type="button" class="close" data-ng-click="hidden_alert('save_smtp_config')" >×</button>
      <strong>Updated!</strong>
    </div>
    <br>
    <div class="form-group">
      <div class="form-inline">
        <input type="mail" ng-model="test_to_address" class="form-control" placeholder="テスト送信先アドレス">
        <input type="button" class="btn btn-default" type="submit" value="送信テスト" ng-click="send_test_mail()">
      </div>
    </div>
    <div class="alert alert-success" ng-show="showSuccessAlert.send_test_mail">
      <button type="button" class="close" data-ng-click="hidden_alert('send_test_mail')" >×</button>
      <strong>送信しました</strong>
    </div>
  </div>
</div>
