<% provide(:title, 'stamp') %>


<table class="table">
<% @stamp_daymap.each do |day, v| %>
  <tr>
    <td rowspan="<%= v.size %>"><%= day%></td>
    <td>
      <table class="table">
        <% v.each do |id, v2| %>
          <% v2.each do |name, times | %>
            <tr>
              <td><%= name %></td>
              <td>
                <%= times.map{|time| "#{time.hour}:#{time.min}"}.join(", ") %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </td>
  </tr>
<% end %>
</table>
