<% provide(:title, "#{@student.fullname} stamp") %>

<%= render 'select_month' %>
<div id="timestamp_table"></div>
<script type="text/javascript">
  timestamp_data = <%= raw @stamp_daymap.to_json %>
  load_table("timestamp_table", timestamp_data, 8, 21, 500, 35, false)
</script>
