// Place all the styles related to the admin/stamp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.timetable_row_hour{
  color: #BDBDBD;
  border-left: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  position: absolute;
}

.timetable_event_point{
  width: 0;
	height: 0;
	border-top: 20px solid #000080;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
  position: absolute;
}

.timetable_event_bar{
  position: absolute;
  background-color: #87CEEB;
  border-radius: 5px;
  opacity: 0.5;
}

.timetable_cell{
  display: table-cell;
}
